.container .containeir-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex: 1;
}

.container-content__card {
  border-radius: 0px !important;
}

.container-content__card .card-two__one {
  background-color: #1d6fe9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2em;
  flex: 1;
  margin: 14px;
}

.cards-itemss .itemss {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0px;
}

.itemss {
  margin-right: 2em;
}

.card-icons .icons-download {
  display: inline-block;
  margin-right: 2em;
}

.card-icons a {
  text-decoration: none;
  border: none;
  padding: 3%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #0f143c;
  color: #fff;
}

.card-icons a:hover {
  text-decoration: none;
  border: none;
  padding: 3%;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #e7040f;
  color: #fff;
}

.card-icons .icons-download {
  margin-bottom: 1em;
}


.cards-itemss h4 {
  font-size: x-large;
}






a:hover {
  background-color: red;
  padding: 8px;
}

.more-to .load-more__btn {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  background-color: #0f143c;
  color: #fff;
  padding: 8px;
  flex: 1 1 255px;
  padding-left: 20%;
  padding-right: 20%;
}

.load-more__btn:hover {
  background-color: red;
}


/* Drop menu */
.menu {

  max-width: 159px;
  margin-left: 12px;
  margin-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  border: none;
  padding: 3px;
  border-radius: 2px;
}

.menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.menu ul li {
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
  background-color: #0f143c;
}

.btn-download {
  background: #c5c5c5;
  padding: 3px;
  padding-left: 2em;
  padding-right: 2em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 7px;
}



.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 19px;
  font-weight: bold;
}



.main-mentioned:hover {
  background-color: #0f143c;
  transition: 1s ease;
}


.menu .mentioned:hover {
  background: red;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 70%;
  font-size: 15px;
  margin-bottom: 1px;
  transition: 1s ease;
  cursor: pointer;
}

.menu ul li ul {
  display: none;
}

.menu ul li:hover ul {
  display: block;
  /*  position: absolute; */
  margin-top: 7.3px;
  background-color: #fff;
  max-width: 100%;
  text-align: center;
  padding: 1.4px 1px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
}


@media(max-width: 768px) {
  .card-holder .container {
    flex-direction: column;
  }

  .card-grid .container {
    flex-wrap: wrap;
  }

  .block-card__info {
    text-align: center;
  }

  .menu {
    max-width: 100%;
  }

  .menu li {
    text-align: center;
    flex-wrap: wrap;
  }

  .container-content__card .card-two__one {
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .card-icons a{
    padding: 12px;
  }
}

@media(max-width: 435px){
  .container-content__card .card-two__one {
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: start;
  }
}