.card-grid .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.block-card__info{
    flex: 1 1 250px;
    background-color: #1D6FE9;
    color: #fff;
    padding: 40px 20px;
    margin: 10px 10px;
}

.block-card__info h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.block-card__info p{
    font-size: 18px;
}

.block-card__info a{
    display: block;
    text-decoration: none;
    margin-top: 2px;
    color: #fff;
    background-color: #0f143c;
    min-width: 100%;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
}

a:hover{
    background-color: red;
}


/* Drop menu */
.menu
{

  max-width: 40%;
  margin-left: 12px;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none;
  padding: 3px;
  border-radius: 2px;
}

.menu ul
{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.menu ul li
{
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
}

.menu ul li a
{
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 19px;
  font-weight: bold;
}

.menu ul li a:hover
{
  background: #0f143c;
  color: #fff;
}

.menu ul li ul
{
  display: none;
}

.menu ul li:hover ul
{
  display: block;
 /*  position: absolute; */
  margin-top: 7.3px;
  background-color: #1d6fe9;
  max-width: 100%;
  text-align: center;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
}


@media(max-width: 768px){
    .card-grid .container{
        flex-wrap: wrap;
    }
    .block-card__info{
        text-align: center;
    }
    .menu{
      max-width: 100%;
    }
    .menu  li {
        text-align: center;
        flex-wrap: wrap;
    }
}