.product_display__list .extra-product__style {
    display: flex;
}

.product_display__list p {
    text-align: center;
}


.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.table-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #DADADA;
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

.heading {
    background-color: #ececec;
    font-size: x-large;
    color: #3e3e3e;
    font-weight: bold;
}


.heading .row-item{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}


.row-item {
    display: flex;
    flex: 1;
    font-size: 17px;
    padding: 2px 0;
    font-weight: bold;
    color: #000;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.row-item:hover {
    cursor: pointer;
    background-color: #1d6fe97a;
    /*   box-shadow: 0px 1px 4px rgba(0, 0, 0, .08); */
}

.row-sub-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.row-sub-container .row-item {
    padding: 8px 0;
    border-bottom: 1px solid #dadada;
}

.table-row:last-child,
.row-sub-container .row-item:last-child {
    border-bottom: 0;
}