.heading h2{
    text-align: center;
    font-size: 35px;
    color: #374adeb8;
    text-transform: capitalize;
    padding: 20px;
    font-weight: bold;
    line-height:  1.5;
    flex-wrap: wrap;
    margin-top: 2em;
}

.heading p{
    text-align: center;
    font-weight: bold;
    font-size:20px;
    margin-top: 1em;
    color: #3480F1;
}


.logo-display .container{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  align-items: center;
}

.logo-boxes__items img{
    max-width: 80%;
    margin-top: 1px;
    margin-bottom: 5px;
}


@media(max-width: 768px){
   .logo-display .logo-boxes__items{
        max-width: 100%;
        flex-wrap: wrap;
    }
}