.nav{
    background-color: #3480F1;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding:  0 30px;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
}

.logo{
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

.nav .links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.nav li a{
   text-decoration: none;
   color: #fff;
   margin-left: 10px;
   font-size: 20px;
   font-weight: bold;
}

@media(max-width: 768px){
    .logo{
        text-align: center;
        line-height: 1.2;
        justify-content: space-around;
    }

    .nav .links{
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
}
