.main-card-form .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5em;
    padding: 5em;
    background-color: #374ade;
}

.main-card-form .input-content__items {
    border: 1px solid;
    padding: 1em;
    border: none;
    color: #fff;
    background-color: #000000ba;
}

.main-card-form input {
    border: none;
    background-color: green;
}

@media(max-width: 768px) {
    .main-card-form .container {
        flex-wrap: wrap;
        text-align: center;
    }

    .main-card-form .input-content__items {
         padding: 10px 10px;
         margin: 2px;
         text-align: center;
         flex: 1;
         flex-basis: auto;
    }
}