.header-banner{
    background-color: #374ade;
    min-height: 470px;
}


.header-banner .container{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
    



img{
    max-width: 100%;
}


.header-banner h2{
    font-size: 50px;
    line-height: 1.2;
    padding-top: 1em;
    font-weight: bold;
}

.header-banner p{
    font-size: 24px;
}

.header-banner img{
    padding-top: 1.5em;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 40px;
    align-items: center;
}

.header-banner .text-bold{
    font-size: 35px;
}

.header-banner strong{
    font-size: 45px;
}


@media(max-width: 768px){
    .header-banner .container{
        flex-wrap: wrap;
        text-align: center;
    }
    .header-banner img{
        max-width: 100%;
        padding-bottom: 20px;
    }

    .header-banner .big-side__text{
        font-size: 100%;
    }
  
}
